server:
  port: ${PORT:8080}
  address: 0.0.0.0

debug: true

spring:
  application:
    name: ecommerce

  datasource:
    url: jdbc:postgresql://ep-blue-butterfly-ahulb36a-pooler.c-3.us-east-1.aws.neon.tech:5432/neondb?sslmode=require&channel_binding=require
    username: neondb_owner
    password: npg_qfzvpV1HxLT0
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  devtools:
    restart:
      enabled: true
    livereload:
      enabled: true














